


        <h2 class="modal-title" id="exampleModalLongTitle">Delete User</h2>
      
      
        <h4>
          <span>Employee ID</span>
        </h4>
        <input type="text" pInputText placeholder="Begins with" [(ngModel)]="model.employeeID">
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteEmployee()" routerLink="/employeelist" data-dismiss="modal" class="btn btn-primary">Delete User</button>
      
